<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Conversation Similarity</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

  </head>
  <body>
    <h1>Conversation Similarity</h1>

    <form action="/" method="post">
      <label for="conversation1">Conversation 1:</label><br />
      <textarea id="conversation1" name="conversation1" rows="5" cols="50"><% if (conversation1 !== null) { %><%= conversation1 %><% } %></textarea><br />

      <label for="conversation2">Conversation 2:</label><br />
      <textarea id="conversation2" name="conversation2" rows="5" cols="50"><% if (conversation2 !== null) { %><%= conversation2 %><% } %></textarea><br />

      <button type="submit">Calculate similarity</button>
    </form>
    <div id="results">
      <% if (distance !== null) { %>
        <% if (error !== null) { %>
          <p class="error"><%= error %></p>
        <% } %>
         <h2 class="primary-metric">Euclidean Distance: <%= distance %></h2>
        <h2 class="primary-metric">Similarity score: <%= cosineSimilarity %></h2>
      <% } %>
    </div>
  </body>
</html>
